<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:aop="http://www.springframework.org/schema/aop"
     xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd
         http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<bean id="factura" class="mx.sintelti.spring.Factura"></bean>


<bean id="testerMp3" class="tester.Tester">
	<property name="device" ref="mp3Player"> </property></bean>

<bean id="testerDvd" class="tester.Tester">
     <property name="device" ref="dvdPlayer"> </property></bean>
     
<bean id="testerBlueRay" class="tester.Tester">
     <property name="device" ref="blueRay"> </property></bean>

<bean id="testerSmarthphone" class="tester.Tester">
     <property name="device" ref="smarthphone"></property></bean>
     
<bean id="smarthphone" class="tester.Smarthphone"></bean>
<bean id="blueRay" class="tester.BlueRay"></bean>	
<bean id="dvdPlayer" class="tester.DVDPlayer"></bean>
<bean id="mp3Player" class="tester.MP3Player">
      <property name="playlist" ref="pop"> </property>
</bean>


<bean id="pop" class="tester.Pop"></bean>
<bean id="rock" class="tester.Rock"></bean>
<bean id="classic" class="tester.Classic"></bean>
</beans>
